#app {  
  font-family: "Poppins", sans-serif !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 2rem .5rem;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;  
}

.main-button {
  letter-spacing: 2px !important;
  font-weight: 700 !important;
}

.submit-button {
  letter-spacing: 2px !important;
  font-weight: 600 !important;
}

.p-component {
  border-radius: 8px !important;
}
